<h2>Template driven forms</h2>
<form>
  <h3>Input type text</h3>
  <label>
    Nome:
    <input
      type="text"
      name="inputName"
      #name="ngModel"
      [ngModel]="name.value"
      required
    />
  </label>

  <hr />
  <p>value: {{name.value}}</p>
  <p>valid: {{name.valid}}</p>
  <p>dirty: {{name.dirty}}</p>
  <p>touched: {{name.touched}}</p>
  <hr />

  <h3>Input type radio</h3>
  <label>
    Feminino:
    <input
      type="radio"
      value="female"
      name="radioSex"
      #sex="ngModel"
      [ngModel]="sex.value"
      required
    />
  </label>

  <label>
    Masculino:
    <input
      type="radio"
      value="male"
      name="radioSex"
      #sex="ngModel"
      [ngModel]="sex.value"
      required
    />
  </label>
  
  <label>
    Outros:
    <input
      type="radio"
      value="others"
      name="radioSex"
      #sex="ngModel"
      [ngModel]="sex.value"
      required
    />
  </label>

  <hr />
  <p>value: {{sex.value}}</p>
  <p>valid: {{sex.valid}}</p>
  <p>dirty: {{sex.dirty}}</p>
  <p>touched: {{sex.touched}}</p>
  <hr />

  <h3>Input type checkbox</h3>
  
  <label>
    Angular:
    <input
      type="checkbox"
      value="angular"
      name="checkboxAngular"
      #techAngular="ngModel"
      [ngModel]="techAngular.value"
      required
    />
  </label>

  <hr />
  <p>value: {{techAngular.value}}</p>
  <p>valid: {{techAngular.valid}}</p>
  <p>dirty: {{techAngular.dirty}}</p>
  <p>touched: {{techAngular.touched}}</p>
  <hr />

  <label>
    Vue:
    <input
      type="checkbox"
      value="vue"
      name="checkboxVue"
      #techVue="ngModel"
      [ngModel]="techVue.value"
      required
    />
  </label>

  <hr />
  <p>value: {{techVue.value}}</p>
  <p>valid: {{techVue.valid}}</p>
  <p>dirty: {{techVue.dirty}}</p>
  <p>touched: {{techVue.touched}}</p>
  <hr />

  <label>
    React:
    <input
      type="checkbox"
      value="react"
      name="checkboxReact"
      #techReact="ngModel"
      [ngModel]="techReact.value"
      required
    />
  </label>

  <hr />
  <p>value: {{techReact.value}}</p>
  <p>valid: {{techReact.valid}}</p>
  <p>dirty: {{techReact.dirty}}</p>
  <p>touched: {{techReact.touched}}</p>
  <hr />

</form>
